@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

html {
  scroll-behavior: smooth;
}
body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    font-family: 'PT Sans Narrow';
    font-size: 20px;
    /* width: 60%; */
  }


pre, code, pre code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

.highlight {
    background-color: #f9f9f9;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}


#header {
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    background-color: #FFF;
    height: auto;
}

#header a:hover {
    text-decoration: none;

}

#footer {
    margin: 20px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

#content {
    padding-top: 20px;
    padding-left: 50px;
    margin: auto;
    float: right;
}

.sticky + #content {
    margin-top: 60px;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}

.nav-wrapper{
    height: 40px;
    width: 100%;
}

#navigation {
    position: sticky;
    background-color: #FFF;
    height: auto;
}

#navigation li a {
    padding-left: 20px;
    padding-right: 20px;

}

#navigation .nav-header {
    padding-left: 0;
    padding-right: 0;
}

body.rtl {
	direction: rtl;
}

body.rtl #header .brand {
	float: right;
    margin-left: 5px;
}
body.rtl .row-fluid [class*="span"] {
	float: right !important;
	margin-left: 0;
	margin-right: 2.564102564102564%;
}
body.rtl .row-fluid [class*="span"]:first-child {
	margin-right: 0;
}

body.rtl ul, body.rtl ol {
    margin: 0 25px 10px 0;
}

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
