#table-of-contents {
  position: -webkit-sticky;
  position: sticky;
  top:40px;
  background-color: #FFF;
  height: 100%;
  width: auto;
}

#toc {
  width: 100%;
}

#table-of-contents .nav-link {
  padding-left: 0;
  padding-right: 0;
}

#content {
  padding-left: 10px !important;
}

.sticky {
  position: fixed;
  z-index: 10;
}
.nav-link a:hover {
    text-decoration: none;

}
