#table-of-contents {
  position: -webkit-sticky;
  position: sticky;
  top:40px;
  height: 98vh;
  overflow-y: scroll;
  direction: ltr;
  z-index: 1;
  background-color: #FFF;
  -ms-overflow-style: none;
  width: 20vw;
}

#table-of-contents::-webkit-scrollbar {
  display: none;
}



#table-of-contents .nav-link {
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

#content {
  padding-left: 10px !important;
}

.nav-link a:hover {
    text-decoration: none;

}

:target:before {
    content: "";
    display: block;
    height: 50px;
    margin: -50px 0 0;
}
